{% extends 'base.html' %}
{% block menu %}
    <li><a href="{% url 'tracker_add' %}" class="action-btn">+ Add List +</a></li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle action-btn" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Category
        </a>
    </li>
{% endblock %}

{% block content %}
        <div class="home_div">
            {% for trackers in tracker %}
                <div class="boss_div">
                    <h4>{{ trackers.description }}</h4>
                    <a href="{% url 'tracker' trackers.pk %}" class="btn btn1">More >>></a>
                    <a href="{% url 'update_tracker' trackers.pk %}" class="btn btn3">Edit</a>
                    <a href="{% url 'delete_tracker' trackers.pk %}" class="btn btn2">Delete</a>

                </div>
            {% endfor %}
        </div>
{% endblock %}
