{% extends 'base.html' %}
{% block menu %}
    <li><a href="{% url 'add_type' %}" class="action-btn">+ Add tracker +</a></li>
{% endblock %}

{% block content %}
    <h3>Types</h3>
        <div class="home_div">

            {% for stat_ty in type %}
                <div class="boss_div">
                    <h4>{{ stat_ty.type }}</h4>
                    <a href="{% url 'update_type' stat_ty.pk %}" class="btn btn3">Edit</a>
                    <a href="{% url 'delete_type' stat_ty.pk %}" class="btn btn2">Delete</a>

                </div>
            {% endfor %}
        </div>
{% endblock %}
