{% extends 'base.html' %}
{% block menu %}
    <li><a href="{% url 'webapp:add_status' %}" class="action-btn">+ Add status +</a></li>
{% endblock %}

{% block content %}
    <h3>Status</h3>
        <div class="home_div">
            {% for stat_ty in status %}
                <div class="boss_div">
                    <h4>{{ stat_ty.status }}</h4>
                    <a href="{% url 'webapp:update_status' stat_ty.pk %}" class="btn btn3">Edit</a>
                    <a href="{% url 'webapp:delete_status' stat_ty.pk %}" class="btn btn2">Delete</a>

                </div>
            {% endfor %}
        </div>
{% endblock %}
