{% extends 'base.html' %}

{% block title %}{{ project.title }}{% endblock %}

{% block menu %}
    <li><a href="{% url "webapp:projects" %}" class="action-btn">Projects</a></li>
    <li><a href="{% url "webapp:project_update" project.pk %}" class="action-btn">Edit</a></li>
    <li><a href="{% url "webapp:delete_project" project.pk %}" class="action-btn">Delete</a></li>
    <li><a href="#add_comment" class="action-btn">Add tracker for project</a></li>
{% endblock %}

{% block content %}
    <h1>{{ project.title }}</h1>
    <h4>{{ project.description }}</h4>
    <p>time of creation {{ project.created_at }}, update time {{ project.updated_at }}</p>
    <hr/>
    <h3>Trackers</h3>
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
        {% for tracker in project.tracker.all %}

            <div class="tracker_for_project">
                <h4>{{ tracker.summary }}</h4>
                <p>{{ tracker.description }}</p>
                <p>type: {{ tracker.type }}, status: {{ tracker.status }}</p>
                <p class="comment-links">
                    <a href="{% url 'webapp:tracker' tracker.pk %}" class="btn btn2">more >></a>
                    <a href="{% url 'webapp:update_tracker' tracker.pk %}" class="btn btn4">Edit</a>
                    <a href="{% url 'webapp:delete_tracker' tracker.pk %}" class="btn btn1">Delete</a>
                </p>
            </div>
        {% empty %}
            <p>No tracker yet.</p>
        {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <div class="form-project_tracker">
        <form action="{% url 'webapp:create_new_tracker' project.pk %}" method="POST" id="add_comment">
            {% include 'partial/tracker_form.html' with button_text='Add' %}
        </form>
    </div>
{% endblock %}